extends layout

block content
	div(class='title_block', id='index_title_block')
		h1 #{title}
		p Current Version: #{version}
		p Device Name: #{devName}
		p Device ID: #{devId}
		p MySHAS ID: #{MySHASConf}
